@import url("./fonts.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
}
a {
  display: inline-block;
  text-decoration: none;
}

body {
  font-family: "Figtree", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background-color: #f4d04e;
  padding-top: 218px;
  padding-bottom: 518px;
}

.container {
  -webkit-box-shadow: 20px 19px 5px -4px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 20px 19px 5px -4px rgba(0, 0, 0, 0.65);
  box-shadow: 20px 19px 5px -4px rgba(0, 0, 0, 0.65);

  width: 100%;
  max-width: 384px;
  margin-left: auto;
  margin-right: auto;
  padding: 22px;
  background-color: #ffffff;
  border-radius: 20px;
}

.features__image {
  width: 336px;
  height: 200px;
  border-radius: 10px;
}
.features__link {
  color: #111;
  width: 100%;
  max-width: 82px;
  background-color: #f4d04e;
  padding-right: 5px;
  gap: 8px;
  padding-bottom: 4px;
  padding-left: 12px;
  padding-top: 4px;
  right: auto;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  padding-left: 9px;
}
.features__link:hover {
  opacity: 60%;
  cursor: pointer;
}
.features__link:active {
  opacity: 60%;
  cursor: pointer;
}
.features__text {
  font-weight: 500;
  font-size: 14px;
  padding-top: 12px;
  padding-bottom: 12px;
}
.features__item {
  font-weight: 800;
  font-size: 24px;
  line-height: 36px;
  width: 100%;
  max-width: 336px;
}
.features__item:hover {
  color: #34322a;
  cursor: pointer;
}
.features__item:active {
  color: #f4d04e;
  cursor: pointer;
}
.features__list {
  color: #7f7f7f;
  padding-top: 12px;
  padding-bottom: 12px;
}
.cta {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.cta__images {
  width: 30px;
}
.cta__item {
  font-weight: 800;
}
